body {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;

  @media (max-width: $mobile-breakpoint) {
    flex-flow: column nowrap;
  }
}

#sidebar {
  @media (min-width: $mobile-breakpoint) {
    flex: 0 0 auto;
    height: 100vh;
  }
  @media (max-width: $mobile-breakpoint) {
    flex: 1 0 auto;
    width: 100vw;
  }
}

#sidebar-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $mobile-breakpoint) {
    flex-flow: row nowrap;
  }
}

#menucont {

}

#main {
  flex: 1 1 0;

  @media (min-width: $mobile-breakpoint) {
    height: 100vh;
    overflow-y: scroll;
  }
}
